@import url('variables/global.scss');
@import url('reset.scss');
@import url('themes/dark.scss');
@import url('themes/normal.scss');
@import url('themes/orange.scss');

.app,
.app_modal,
.drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
}

.app__redesigned {
    min-height: 100vh;
    background: var(--bg-redesigned);
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.appLogo {
    padding-top: 20px;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg); /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 2px solid var(--primary-color); /* padding вокруг плашки */
}
