.Dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    overflow: hidden;
    z-index: 232;
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}

.active {
    background: var(--light-bg-redesigned);
}
