.ListBox {
    position: relative;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    background: var(--card-bg);
    position: absolute;
    z-index: 55;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--card-bg);
}

.item {
    padding: 10px 20px;
    cursor: pointer;
}

[data-focus]:hover {
    background: var(--inverted-secondary-color);
}

.label {
    margin-right: 4px;
}
