.app_orange_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #FF6321;
  --primary-color: #F51400;
  --secondary-color: #FF6D29;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%)
}