.ProfileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.input {
  margin-top: 10px;
}

.loader,
.error{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.AvatarWrapper {
  display: flex;
  justify-content: center;
}

.edition {
  border: 2px solid var(--inverted-primary-color);
}